/* CUSTOM CSS FOR HOUSE OF RPO */

html {
    /* RPO colors */
    --primary-1: #25274D;
    --primary-2: #464866;
    --primary-3: #AAABB8;
    --primary-4: #2E9CCA;
    --primary-5: #29648A;
    --font-family-1: 'Oswald', sans-serif;
    --font-family-2: 'Oswald', sans-serif;
}

.font-white {
    color: white;
}

.font-primary {
    color: var(--primary-1);
}

.primary-link {
    color: var(--primary-1);
}

.primary-link:hover {
    color: var(--primary-2);
    text-decoration: underline !important;
}

.dark-link {
    color: white;
}

.dark-link:hover {
    color: var(--primary-3);
    text-decoration: underline !important;
}

.mt-10 {
    margin-top: 10rem;
}

.px-3 {
    padding: 0 3rem;
}

* {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bebas Neue', sans-serif !important;
}


.footer-column-right {
    text-align: right;
  }
@media (max-width: 991px) {
.footer-column-right {
    text-align: left;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
}
@media (max-width: 767px) {
.footer-column-right {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: .5rem;
}
}